<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/home.min.css">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>

    <div class="container">
        <input type="number" id="numberOne" />
        +
        <input type="number" id="numberTwo" />
        <br>
        <button id="calculate">Calcular</button>
    </div>

    <div id="result"></div>

    <a href="sobre.html">Sobre o criador</a>

    <script src="assets/js/home.min.js"></script>
</body>
</html>